* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #f8f4f4;
    width: 100vw;
    height: 100vh;
}
div {
    display: flex;
}
#addpersonmodal {
    flex-direction: column;
}
#topbar {
    width: 100vw;
    height: 9vh;
    border-bottom: solid;
}
#container {
    width: 100vw;
    height: 91vh;
}
#rightcontainer {
    width: 75vw;
    height: 91vh;
    flex-direction: column;
}
#leftcontainer {
    width: 25vw;
    height: 91vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    flex-direction: column;
    border-right: solid;
}
#people {
    width: 25vw;
    height: 86vh;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column;
}
#addperson {
    height: 5vh;
}
#messages {
    width: 75vw;
    height: 86vh;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: flex-start;
}
#inputcontainer {
    width: 75vw;
    height: 5vh;
}
#msginput {
    height: 5vh;
    width: 60vw;
    font-size: x-large;
}
#sendbtn {
    height: 5vh;
    width: 15vw;
}
#username {
    margin-right: 1vw;
    margin-left: auto;
}
#backbutton {
    border: none;
    background: none;
}
#backimg {
    height: 9vh;
    width: auto;
}
.persondiv {
    margin-left: 0.5vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mymsg {
    margin-right: 2vw;
    margin-left: auto;
}
.theirmsg {
    margin-left: 2vw;
    margin-right: auto;
}