* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #f8f4f4;
}
div {
    display: flex;
}
#topContainer {
    width: 100vw;
    height: 9vh;
    padding: 0;
    margin: 0;
    align-items: center;
}
#bottomContainer {
    width: 100vw;
    height: 60vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}
#requestscontainer {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100vw;
    height: 31vh;
    flex-direction: column;
}
#createNewBtn {
    height: 2vh;
    margin-left: 2vw;
}
#rightdiv {
    margin-left: auto;
    margin-right: 2vw;
    align-items: center;
}
#logOutBtn {
    margin-right: 2vw;
    height: 2vh;
}
.employeeDiv {
    width: 95vw;
    height: 3vh;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    align-items: center;
    border-style: solid;
}
.blank-button {
    background: none;
    border: none;
}
.top-img {
    height: 6.8vh;
}
.requestdiv {
    height: 5vh;
    width: 100vw;
    align-items: center;
    margin-left: 1vw;
}
.acceptbutton {
    height: 3vh;
    margin-left: 1rem;
}
.btnsdiv {
    margin-left: auto;
    margin-right: 0vw;
}
.employeebtns {
    margin-left: 0.3vw;
}